{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Matches</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('match_add.html') }}">
            <!-- league selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="league_name" name="league_name" class="validate" required>
                        <option value="" disabled selected>Choose League</option>
                        {% for league in leagues %}
                            <option value="{{ league.leagues_name }}">{{ league.league_name }}</option>
                        {% endfor %}
                    </select>
					<label for="league_name">League Category</label>
				</div>
			</div>
            <!-- date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="match_date" name="match_date" type="text" class="datepicker validate" required>
                    <label for="match_date">Match Date</label>
                </div>
            </div>
            <!-- club1 selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="club1" name="club1" class="validate" required>
                        <option value="" disabled selected>Choose Club1</option>
                        {% for club in clubs %}
                            <option value="{{ club.club_name }}">{{ club.club_name }}</option>
                        {% endfor %}
                    </select>
					<label for="club1">Club1 Category</label>
				</div>
			</div>
            <!-- club2 selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="club2" name="club2" class="validate" required>
                        <option value="" disabled selected>Choose Club2</option>
                        {% for club in clubs %}
                            <option value="{{ club.club_name }}">{{ club.club_name }}</option>
                        {% endfor %}
                    </select>
					<label for="club2">Club2 Category</label>
				</div>
			</div>
            <!-- task name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="task_name" name="task_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="task_name">Task Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Match <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}